* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
  }
  
  
  
  .signup_parent {
  
   
    width: 600px;
    height: 85vh;
    margin: 0 30%;
    margin-top: 4%;
    border-radius: 5px;
    background-color: #72A624;
    color: #FFFFFF;
  }
  .signup_parent input {
    width: 90%;
    padding: 12px;
    border: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    outline: none;
  }
  .signup_parent label {
    color: #FFFFFF;
    font-size: 20px;
  }
  .signup_parent form {
    padding: 20px;
  }
  .btn1 {
    padding: 10px 20px;
    background-color: #006400;
    border: none;
    margin-right: 12px;
    color: white;
    border-radius: 5px;
  }
  .register{
    text-align: center;
  }
  .register a{
    text-decoration: underline;
    color: blue;
  }